@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.parallax-top {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.parallax-top:before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #624ae9, transparent);
    z-index: 1000;
}

.parallax-top img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

#title {
    position: relative;
    color: #fff;
    font-size: 80px;
    z-index: 1;
}

#trees {
    z-index: 2;
}

.typewriter {
    padding-top: 10%;
    display: flex;
    justify-content: center;
}
  
.typewriter h2 {
    color: #fff;
    font-family: monospace bold;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    white-space: nowrap;
    animation: 
        typing 2s steps(30, end),
        blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 13ch }
}
  
/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange }
}

@media only screen and (max-width: 1050px){
    #moon {
        display: none;
    }

    #title {
        font-size: 50px;
    }
    
}

.about {
    background: #624ae9;
    min-height: 350px;
    padding-top: 45px;
}

.profile {
    position: relative;
    display: block;
    margin: 0 auto;
    height: 150px;
    width: 150px;
    border-radius: 100px;
    margin-bottom: 20px;
}

.about h1 {
    color: #fff;
    font-family: 'Poppins';
}

.about h4 {
    margin-top: 20px;
    color: rgb(221, 221, 221);
    font-family: 'Poppins';
    font-size: 15px;
    margin-bottom: 30px;
}

.about-text {
    text-align: center;
    display: inline-block;
    margin-left: 25%;
    margin-right: 25%;
}

.projects {
    min-height: 350px;
    padding-top: 70px;
    background-color: #fff;
    color: #624ae9;
}

.projects h1 {
    text-align: center;
    font-family: 'Poppins';
}

.projects h4 {
    margin-top: 20px;
    font-family: 'Poppins';
    font-size: 15px;
    color: #000000af;
    margin-bottom: 70px;
}

.projects a {
    font-family: 'Poppins';
    font-size: 15px;
    color: #624ae9d3;
}

.gallery {
    display: inline-block;
    width: 100%;
}

.project {
    min-height: 350px;
    padding-top: 80px;
}

.project img {
    box-shadow: 0px 30px 40px -25px rgba(0, 0, 0, 1);
}

.project h1 {
    margin-top: 45px;
    font-family: 'Poppins';
}

.project h4 {
    margin-top: 45px;
    font-family: 'Poppins';
    font-size: 15px;
}
  
@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}
